body{
	font: 12px Tohoma;
	margin: 0px;
	text-align: center;
	/* background: (../images/mainbody.png) no-repeat; */
	background: #7388C1;
	
}

a:link,
a:visited {
	font-size: 15px;
	text-decoration: none;
}

a:hover{}

#container{
	width: 800px;
	height: 600px;
	margin: 10px auto;
	background: url(../images/mainbody.png)  no-repeat ;
}

#header{
	/* background: url() no-repeat; */
	/* background-color: white; */
	background: url(../images/logo.png) no-repeat;
	
}

#rightTop{
	float: right;
}

#rightTop span{
	color: red;
}

#menu{
	padding: 35px 20px 0 0;
}

#menu ul{
	float: right;
	list-style: none;
	margin: 0px;
	
}

#menu ul li {
	float: left;
	display: block;
	line-height: 30px;
	margin: 0 10px;
}

#menu ul li a{
	font-weight: bold;
	color: #7388C1;
	
}
#menu ul li a:hover{
	color: red;
}

.menuDiv{
	width: 1px;
	height: 28px;
	background: #EFEFEF;
}

#headline{
	width:800px ;
	height: 10px;
	background-color: black;
}

#banner{
	/* background: #738856; */
	/*background:url(../images/mainbody.png) 0 15px no-repeat;*/s 
	width: 1000px;
	float: center;
	margin: auto;
	height: 900px;
	border-bottom: 5px solid #efefef;
	clear: both;
}

#wenzi
{
	float: left;
}